@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Movies</h1>
<form method="post">
    <input type="text" name="search" id="search" value="@Model.Search"/>
    <input type="submit" value="Search" />

    <h2>By MPAA Rating</h2>
    <label>
        <input type="checkbox" name="rating" value="G" checked="@Model.mpaa.Contains("G")" />
        Rated G
    </label>
    <label>
        <input type="checkbox" name="rating" value="PG" checked="@Model.mpaa.Contains("PG")" />
        Rated PG
    </label>
    <label>
        <input type="checkbox" name="rating" value="PG-13" checked="@Model.mpaa.Contains("PG-13")" />
        Rated PG-13
    </label>
    <label>
        <input type="checkbox" name="rating" value="R" checked="@Model.mpaa.Contains("R")" />
        Rated R
    </label>
    <label>
        <input type="checkbox" name="rating" value="NC-17" checked="@Model.mpaa.Contains("NC-17")" />
        Rated NC-17
    </label>

    <h4>Review Scores</h4>
    <label>
        Minimum IMDB Rating
        <input type="number" min="0" max="10" step="0.1" name="minIMDB" />
    </label>
    <label>
        Maxmimum IMDB Rating
        <input type="number" min="0" max="10" stage="0.1" name="maxIMB" />
    </label>
</form>

@foreach (Movie movie in Model.Movies)
{
    <div class="movie-entry">
        <h4>@movie.Title</h4>
            <smaller>@(@movie.MPAA_Rating == null ? "Not Available" : (@movie.MPAA_Rating))
        </smaller>
        <i>@movie.Major_Genre</i>
        <div class="ratings">
            <div>
            </div>
            <div>
                Rotten Tomatoes
                <h2>@movie.Rotten_Tomatoes_Rating</h2>
            </div>
            <div>
                IMDB
                <h2>@movie.IMDB_Rating</h2>
            </div>
        </div>
    </div>
}